

<%- contentFor('FooterJs') %>
<%- contentFor('HeaderCss') %>


<%- contentFor('body') %>


<%- contentFor('body') %>




<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!---Custom CSS File--->
  <%-include("../partials/title-meta",{"title": "Recover Password"}) %>


</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>اهلا بك يمكنك استعادة كلمة السر!</header>
      <form action="/auth-validate" method="post">

        <% if(error.length> 0) { %>
          <div class="alert alert-borderless alert-danger text-center mb-2 mx-2" role="alert">
            <%= error %>
          </div>
          <% } %>
          <% if(message.length> 0) { %>
          <div class="alert alert-borderless alert-success text-center mb-2 mx-2" role="alert">
            <%= message %>
          </div>
          <% } %>

        <input type="text" name="email" required placeholder="البريد الالكتروني">
   
        
        <input type="submit" class="button" value="استعادة">
      </form>
      <div class="signup">
        <span class="signup"> اتذكر كلمة السر  ؟
         <label for="check"><a  href="/login"> دخول</a></label>
      
        </span>
      </div>
    </div>
  </div>
  <!-- <script src="assets/login/js/test.js"></script> -->
</body>
</html>



  <link rel="stylesheet" href="assets/login/css/test.css">