<%- include ('../partials/main.ejs') %>

<head>

  <meta charset="utf-8" />
  <title> <%-title%> | كلين بيلز</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <% if (HeaderCss) { %>
    <%- HeaderCss %>
   <% } %>






</head>

<body>

  <%- body%>





  <% if (FooterJs) { %>
    <%- FooterJs %>
<% } %>


</body>

</html>